{% extends "base.html" %}
{% include 'main/includes/messages.html' %}
    
{% block content %} 

  <style type="text/css">
   .group {
  margin: -40px;
}

      input[type=text] {
  width: 50%;

  margin: 8px 0;
  box-sizing: border-box;
}
input[type=submit] {
  background-color: #41454b;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input[type=password] {
  width: 50%;
 
  margin: 8px 0;
  box-sizing: border-box;
}
  </style>    
 
<div class="group">
    <h1 >Register a New User </h1>
    <form method="POST">
        {% csrf_token %}
     {{ form.as_p }}                 
       <input type="submit" value="Register">
    </form>
</div>

{% endblock %}