{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<title>Home</title>

<div style="margin-top: 180px">
    <h1 style="color:#41454b; ">Welcome To TIS Team Management System!</h1>
    <p style=" font-size: 20px ; color:#41454b; font-family:Arial Black ;"> This website is designed for G2G's TIS and
        administration staff for the purpose of information sharing, problem solving and task updating.
        Choose one the above links to log into your account. If it is your first time logging in, Make sure admin has
        registerd you into the system and take the credentials assigned to you i.e username and password.
        We suggest you change your password after succsessful login.
    </p>
</div>
</body>

</html>

{% endblock content %}